
h1{
    font-size: 50px;
    background: -webkit-linear-gradient(#1543ad, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,201,233,1) 100%)
}

.container{
    margin-top: 2%;
}

.container1{
    padding-left: 40%;
}


form{
    padding-left: 25%;
    
}

.form-control{
    width: 60%;
}